* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Market Sans", Arial, sans-serif;
}

.body-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    width: 1550px;
    max-width: 100%;
    margin: auto;
}

.main {
    flex: 1;
    padding: 20px 60px 30px 60px;
}

.table {
    border-collapse: collapse;
    width: 100%;
    margin: 20px 0;
}

.table tr:first-child {
    background-color: black;
    color: white;
}

.table tr:not(.table tr:first-child) {
    background-color: #F7F7F7;
}

.table th,
.table td {
    border-top: solid 1px black;
    border-left: solid 1px black;
    text-align: center;
}

.table th {
    padding: 7px 0;
}

.table td {
    padding: 5px 0;
    font-size: 19px;
    -webkit-text-stroke: 0.3px;
}

.table th:first-child,
.table td:first-child {
    border-left: none;
}

.table td button {
    cursor: pointer;
    border: none;
    background-color: black;
    color: white;
    padding: 5px 15px;
    font-size: 15px;
    border-radius: 7px;
    border: solid 1px white;
    transition: 0.2s;

    &:hover {
        background-color: white;
        color: black;
        border-color: black;
    }
}

.buy-button {
    cursor: pointer;
    width: 300px;
    max-width: 100%;
    padding: 7px 0;
    font-family: inherit;
    font-size: 17px;
    border: solid 1px white;
    background-color: black;
    color: white;
    border-radius: 7px;
    transition: 0.2s;

    &:hover {
        border-color: black;
        background-color: white;
        color: black;
    }
}

@media screen and (max-width: 850px) {
    .main {
        padding: 40px 10px;
    }
}

@media screen and (max-width: 600px) {
    .table th,
    .table td {
        font-size: 13px;
    }
}