.container {
    width: 1550px;
    max-width: 100%;
    margin: auto;
}

/* Header */
.header {
    font-family:"Market Sans", Arial, sans-serif;
}

/* Header Top */
.header-top-wrapper {
    display: flex;  
    justify-content: space-between;
    padding: 5px 60px;
    align-items: center;
}

.header-top-left-side ul,
.header-top-right-side ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 30px;
}

.header-top-left-side ul li,
.header-top-right-side ul li {
    font-size: 12px;
    font-weight: 500;
    color: black;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
}

.header-top-right-side ul li:nth-child(4),
.header-top-right-side ul li:nth-child(5) {
    font-size: 22px;
}

.header-top-left-side ul li a,
.header-top-right-side ul li a {
    color: black;
    text-decoration: none;
}

.underline-link {
    text-decoration: underline !important;
    color: #0654BA !important;
}

/* Header Bottom */
.header-bottom {
    border-top: 1px solid #E5E5E5;
    border-bottom: 1px solid #E5E5E5;
    padding: 10px 0;
}

.header-bottom-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 60px;
    grid-template-columns: 10% 75% 10%;
    gap: 50px;
}

.header-bottom-search-input-block {
    width: 100%;
    display: flex;
    position: relative;
    display: grid;
    grid-template-columns: 80% 20%;
    border: solid 3px black;
    border-radius: 100px;
    overflow: hidden;
}

.search-input-icon {
    position: absolute;
    top: 11px;
    left: 10px;
    font-size: 20px;
}

.search-input input {
    height: 40px;
    width: 100%;
    border: none;
    background: transparent;
    outline: none;
    padding: 0 3px 0 35px;
    font-size: 18px;

    &::placeholder {
        font-size: 16px;
    }
}

.search-input-filter {
    cursor: pointer;
    border-left: 2px solid #E5E5E5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.category-block {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
}

.search-btn-block {
    background-color: #0654BA;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 20px;
    display: none;
}

/* primary search button */
.header-bottom-search-button {
    width: 200px;
    height: 40px;
    /* display: none; */
}

.header-bottom-search-button button {
    height: 100%;
    width: 100%;
    border-radius: 30px;
    border: none;
    background-color: #3665F3;
    color: white;
    font-size: 18px;
}

/* Footer */
.footer {
    border-top: solid 1px #CCCCCC;
    background-color: #F7F7F7;
}

.footer-wrapper {
    padding: 60px 60px 30px 60px;
}


/* Footer Column */
.footer-column-wrapper {
    display: flex;
    justify-content: space-between;
}

.footer-column {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 200px;
    max-width: 100%;
}

.footer-column ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.footer-column ul li {
    display: flex;
    align-items: center;
    gap: 3px;
    font-size: 18px;
    color: #767676;
}

.footer-column ul li a {
    color: #767676;
    text-decoration: none;
    font-size: 13px;
    display: flex;
    align-items: center;
    gap: 3px;

    &:hover {
        text-decoration: underline;
    }
}

.footer-column ul li:first-child, 
.footer-column ul li:first-child a {
    font-size: 13px;
    font-weight: 700;
    color: black;
}

.footer-column ul li a i {
    font-size: 18px;
}

/* Footer secondary links */
.footer-secondary-links {
    margin: 20px 0;
    display: none;
}

.footer-secondary-links ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 25px;
}

.footer-secondary-links ul li a {
    color: #767676;
    font-size: 13px;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

.footer-extra-info {
    margin: 50px 0 0 0;
    font-size: 11px;
    display: flex;
    gap: 10px;
}


.footer-extra-info ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.footer-extra-info ul li a {
    color: #767676;
    display: flex;
    align-items: center;
    gap: 3px;
}


@media screen and (max-width: 1120px) {
    .header-bottom-wrapper {
        gap: 20px;
    }

    .header-bottom-search-input-block {
        grid-template-columns: 65% 35%;
    }
}


@media screen and (max-width: 850px) {
    
    .header-top-wrapper {
        padding: 5px 10px;
    }

    .header-bottom-wrapper {
        padding: 5px 10px;
    }

    .footer-column-wrapper {
        display: none;
    }

    .footer-secondary-links {
        display: initial;
    }
}

@media screen and (max-width: 800px) {
    .category-block {
        display: none;
    }

    .search-btn-block {
        display: flex;
    }
    
    .header-bottom-search-button {
        display: none;
    }
}

@media screen and (max-width: 700px) {
    .header-top-left-side-hidden-link {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .header-bottom-search-input-block {
        grid-template-columns: 80% 20%;
    }
}

@media screen and (max-width: 470px) {
    .header-top-right-side-hidden-link {
        display: none;
    }
}

@media screen and (max-width: 450px) {
    .header-bottom-wrapper {
        flex-direction: column;
    }
}